@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

@mixin respond($break) {
  @if $break == phone {
    @media only screen and (max-width: 23em) {
      //368px
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

hr {
  color: white;
}

.header {
  width: 70vw;
  margin: 2rem auto 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 0 0;

  @include respond(phone) {
    width: 85vw;
  }

  &__logo {
    height: 100%;
  }
}

.nav {
  display: flex;

  &__list {
    list-style: none;
    display: flex;
    gap: 6rem;
    margin: auto;

    @include respond(phone) {
      background-color: white;
      flex-direction: column;
      position: fixed;
      margin: 0;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70vw;
      gap: 5rem;
      padding-left: 6rem;
      padding-top: 18rem;
      transform: translateX(100%);
      transition: all 0.5s ease-in;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.6rem;
      text-decoration: none;
      color: hsl(240, 100%, 5%);

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &:hover,
    &:active {
      color: hsl(5, 85%, 63%);

      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }
}

.main__grid {
  width: 70vw;
  display: grid;
  margin: 0 auto 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
    width: 85%;
  }

  &_img {
    grid-column: 1 / 3;

    @include respond(phone) {
      grid-column: 1/2;
    }

    & img {
      width: 100%;
    }
  }

  &_articles {
    background-color: black;
    color: white;
    padding: 2rem;
    grid-column: 3/-1;
    grid-row: 1/3;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(phone) {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    &_card {
      &:link,
      &:visited {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease-in;
      }

      &:hover,
      &:active {
        color: hsl(5, 85%, 63%);
      }
    }

    &_title {
      font-size: 4rem;
      line-height: 1;
    }

    &_subtitle {
      font-size: 2rem;
    }

    &_text {
      font-size: 1.4rem;
    }
  }

  &_title {
    font-size: 4rem;
    line-height: 1;
  }

  &_text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_text {
    font-size: 1.4rem;
    line-height: 2;
    color: grey;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &_card {
    display: flex;
    gap: 2rem;
    align-items: stretch;

    &_text-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & img {
      width: 30%;
    }

    &_subtitle {
      font-size: 3.5rem;
      color: silver;
    }

    &_title {
      font-size: 1.8rem;
    }

    & p {
      font-size: 1.4rem;
      color: grey;
    }
  }
}

.btn {
  background-color: black;
  color: white;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.5s ease-in;
  border: none;
}

.btn:hover {
  background-color: grey;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.close {
  background-color: white;
  border: none;
  display: none;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  top: 5rem;
  right: 5rem;
  display: none;
}

.menu {
  background-color: silver;
  border: none;
  display: none;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  top: 5rem;
  right: 5rem;
  padding: 2.5rem;
  border-radius: 5rem;

  @include respond(phone) {
    display: block;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
}

.block {
  display: block;
}

.active {
  transform: translateX(0);
}

.none {
  display: none;
}
